@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #EF476F;
    width: 85vw;
    height: auto;
    margin: 1% auto;
    padding-top: 2%;
    border-radius: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#canvas {
    height: 0;
    width: 50vw;
    height: 50vw;
    background-color: rgb(212, 212, 212);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* .gridSquare {
    box-shadow: inset 0 0 1px #000;
} */

button {
    border: none;
    background-color: #FFE099;
    font-size: 2em;
    color: black;
    padding: 1%;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: #FFBC1F;
}

#inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;

    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#inputSize {
    padding: 3% 0 3% 15%;
    font-size: 1.5em;
    color: black;
    border: none;
    border-radius: 10px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sizer {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
}